.activity {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.github-link:active,
.github-link:visited,
.github-link:link {
  color: inherit;
}

.github-link:hover {
  color: var(--title-color-dark);
}

.github-link::after {
  content: "";
  display: block;
  width: 1.5rem;
  border-bottom: 1px solid var(--title-color);
}

.activity-image {
  filter: grayscale(85%);
  padding: 1rem;
  background-color: var(--container-color);
  border-radius: 0.8rem;
  border: 1px solid rgba(0, 0, 0, .1);
}