/* .contact {} */

.contact {
  width: 1920px;
  height: 1080px;

  display: grid;
  grid:
    ". . . form form ." 0.5fr ". . . form form ." 0.5fr ". icon . form form ." 0.5fr ". . . form form ." 0.5fr "text text . . . ." 1fr ". . . . . ." 1fr / 1fr 1fr 1fr 0.5fr 0.5fr 0.75fr;

  align-content: center;

  background-image: url(../images/location.png);
  background-repeat: no-repeat;
  background-size: contain;
  /* background-position: 50% 50%; */
  /* min-height: 500px; */
  /* height: 100vh; */
  /* height: auto; */
  width: 100vw;
  aspect-ratio: 3/1;
}

.contact-form {
  grid-area: form;
}

.icon {
  grid-area: icon;
}

.text {
  grid-area: text;
}