.contact-form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  margin: 20px auto;
  transform: translate(-50%, -55%);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  background: rgba(0, 0, 0, .9);

  border-radius: 10px;
}

.contact-form .input-information {
  position: relative;
}

.contact-form .input-information input,
textarea {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.contact-form .input-information label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.contact-form .input-information input:focus~label,
.contact-form .input-information input:valid~label,
.contact-form .input-information textarea:focus~label,
.contact-form .input-information textarea:valid~label {
  top: -20px;
  left: 0;
  color: #fff;
  font-size: 12px;
}

/* .contact-form .input-information input:focus~.label,
.contact-form .input-information textarea:focus~.label {
  top: -20px;
  left: 0;
  color: #fff;
  font-size: 12px;
} */