.contact-form {
  /* position: absolute;
  top: 50%;
  left: 50%; */
  /* margin: 20px auto; */
  /* transform: translate(-50%, -55%); */
  /* box-shadow: 0 15px 25px rgba(0, 0, 0, .6); */
  width: 380px;
  padding: 40px;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  background: rgba(255, 255, 255, .1);
  border-radius: 10px;
  /* margin-left: 50%; */

}


.contact-form .input-information {
  position: relative;
}

.contact-form .input-information input,
textarea {
  width: 100%;
  padding: 15px 0;
  font-size: 16px;
  color: #000000;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #161616;
  outline: none;
  background: transparent;
}

.contact-form .input-information label {
  font-family: 'Oswald';
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 20px;
  color: #161616;
  pointer-events: none;
  transition: .5s;
  font-weight: bold;
}

.contact-form .input-information input:focus~label,
.contact-form .input-information input:valid~label,
.contact-form .input-information textarea:focus~label,
.contact-form .input-information textarea:valid~label {
  top: -20px;
  left: 0;
  opacity: .9;
  font-size: 14px;
  font-weight: 100
}

.submit-button {
  margin-top: 100px;
  margin-left: 220px;

  border-radius: 4px;
  background-color: #141414;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: .8rem;
  padding: 18px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;

}

.submit-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.submit-button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.5s;
}

.submit-button:hover span {
  padding-right: 10px;
}

.submit-button:hover span:after {
  opacity: 1;
  right: 0;
}