.contact-container {
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  column-gap: 6rem;
  padding-bottom: 3rem
}

.contact-info {
  display: grid;
  row-gap: 1rem;
  grid-template-columns: 300px;
}